#cloudfret-superchargers {
    padding: var(--section-padding);
    background-color: rgba(var(--color-2-rgb), 0.05);

    .row {
        margin-top: 75px;
    }

    .text {
        line-height: 1.8;
        margin-bottom: 90px;
    }

    .image {
        max-width: 100%;
        border-radius: 30px;
    }
}