#cloudfret-insurance-form {
    padding: var(--section-padding);
    color: var(--color-3);

    .subtitle {
        margin-top: 50px;
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: 600;

        mark {
            background-color: transparent;
            color: var(--color-1);
        }
    }

    form {
        background-color: #ECECEC;
        border-radius: 30px;
        padding: 100px;
        margin-top: 50px;

        @media (max-width: 991px) {
            padding: 70px;
        }

        .button-container {
            margin-top: 50px;
        }

        @media (max-width: 767px) {
            padding: 80px 50px;

            .button-container {
                margin-top: 30px;
            }
        }
    }
}