#cloudfret-functionalities {
    padding: var(--section-padding);
    background-color: rgba(var(--color-1-rgb), 0.1);

    .functionality {
        position: relative;
        background: #FFFFFF;
        box-shadow: 7px 7px 33px rgba(0, 0, 0, 0.08);
        border-radius: 18px;
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        margin-top: 70px;

        img {
            margin-top: 20px;
            margin-bottom: 70px;
            height: 125px;
        }

        p {
            position: relative;
            z-index: 1;
            flex: 1;
            font-size: 24px;
            font-weight: 600;
            line-height: 1.2;
            color: #fff;
            background-color: var(--color-1);
            padding: 0 30px 20px;
            
            &::before {
                content: "";
                position: absolute;
                z-index: -1;
                left: 0;
                width: 100%;
                aspect-ratio: 1;
                background-color: inherit;
                transform: translateY(-45%) scaleY(.25) rotate(45deg);
                border-radius: 10px;
            }
        }
    }
}