#cloudfret-network {
    padding: var(--section-padding);
    padding-bottom: 0;

    .subtitle {
        color: var(--text-color-light);
        margin: 30px 0 40px;
    }

    .services {
        padding: var(--section-padding);
        background: url("/images/shapes/bg-circle.svg") no-repeat center top rgba(var(--color-3-rgb), 0.05);
        background-size: 100% auto;
    }

    .row {
        &>* {
            display: flex;
            flex-direction: column;

            @media (max-width: 991px) {
                &:not(:first-child) {
                    margin-top: 80px;
                }
            }
        }
    }

    .service {
        position: relative;
        z-index: 1;
        margin-bottom: 60px;
        flex: 1;
        display: flex;
        flex-direction: column;

        &::before {
            content: "";
            position: absolute;
            z-index: -1;
            left: 50px;
            height: 100%;
            border-left: 3px solid var(--color-3);
        }

        &::after {
            content: "";
            position: absolute;
            bottom: -48px;
            left: 39.25px;
            width: 25px;
            height: 50px;
            background: no-repeat center bottom/100%;

            @media (max-width: 991px) {
                left: 37.5px;
                width: 28px;
            }
        }

        &.color1 {

            &::before,
            .options-title,
            .option-icon {
                border-color: var(--color-1);
            }

            &::after {
                background-image: url("/images/home/service-arrow-1.svg");
            }
        }

        &.color2 {

            &::before,
            .options-title,
            .option-icon {
                border-color: var(--color-2);
            }

            &::after {
                background-image: url("/images/home/service-arrow-2.svg");
            }
        }

        &.color3 {
            &::after {
                background-image: url("/images/home/service-arrow-3.svg");
            }
        }
    }

    .service-image {
        display: block;
        width: 100%;
        height: auto;
        border-radius: 16px;
    }

    .service-title {
        position: absolute;
        top: 0;
        left: 0;
        padding: 16px 35px;
        font-size: 24px;
        line-height: 1.4;
        font-weight: 600;
        color: #fff;
        text-transform: uppercase;
    }

    .options-title {
        padding: 15px 20px;
        font-size: 22px;
        font-weight: 600;
        border: 3px solid var(--color-3);
        border-radius: 18px;
        margin-top: 65px;
        background-color: var(--smart-network-bg);

        mark {
            display: block;
            background-color: transparent;
            color: var(--color-2);
        }
    }

    .option {
        display: flex;
        gap: 20px;
        align-items: center;
        font-size: 18px;
        font-weight: 600;
        color: var(--text-color-light);
        margin-top: 24px;
    }

    .option-icon {
        width: 95px;
        height: 95px;
        border: 3px solid var(--color-3);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 auto;
        background-color: var(--smart-network-bg);

        img {
            max-width: 75%;
        }
    }
}