#cloudfret-fuel {
    padding: var(--section-padding);

    .text {
        margin-top: 35px;
        line-height: 1.8;
    }

    .text-image {
        margin-top: 50px;
        padding-top: 100px;
        background: url("/images/fuel/fuel-cards.png") no-repeat center right/auto 100%;

        @media (max-width: 991px) {
            background-size: auto 70%;
        }

        @media (max-width: 767px) {
            padding-top: 450px;
            background-size: auto 400px;
            background-position: top right;
        }

        .button {
            margin-top: 80px;

            @media (max-width: 767px) {
                margin-top: 50px;
            }
        }
    }
}