#cloudfret-navbar {
    display: unset;

    nav {
        z-index: 99;
        padding: 20px 0;
        background-color: var(--color-3);
        font-size: 17px;
        font-weight: 500;
        color: #fff;

        .container {
            display: flex;
            align-items: center;
        }

        .logo {
            flex: 1;
            img {
                display: block;
                width: 150px;
            }
        }

        .menu {
            display: flex;
            align-items: center;
            gap: 40px;

            @media (max-width: 768px) {
                display: none;
            }

            & > * {
                position: relative;
                cursor: pointer;
                transition: color .3s;

                &:hover,
                &.active {
                    color: var(--color-1);
                }

                &:not(:last-child) {
                    &::before {
                        content: "";
                        position: absolute;
                        right: -20px;
                        top: 50%;
                        transform: translateY(-50%);
                        height: 40px;
                        border-right: 2px solid #fff;
                        opacity: .2;
                    }
                }

                &.has-submenu {
                    position: relative;
                    display: flex;
                    align-items: center;

                    &::after {
                        content: "";
                        width: 12px;
                        height: 6px;
                        background-image: url("/images/icons/chevron-down-white.svg");
                        background-size: 100% 100%;
                        margin-left: 16px;
                    }

                    &:hover {
                        .sub-menu {
                            opacity: 1;
                            visibility: visible;
                        }
                    }

                    .sub-menu {
                        position: absolute;
                        z-index: 2;
                        top: calc(100% + 10px);
                        right: 0;
                        padding: 20px;
                        background-color: var(--color-3-dark);
                        border-radius: 16px;
                        opacity: 0;
                        visibility: hidden;
                        transition: all .3s;

                        &::before {
                            content: "";
                            position: absolute;
                            top: -16px;
                            right: 30px;
                            width: 0;
                            height: 0;
                            border: 8px solid transparent;
                            border-bottom-color: var(--color-3-dark);
                        }

                        a {
                            display: block;
                            white-space: nowrap;
                            color: #fff;
                            transition: color .3s;

                            &:hover {
                                color: var(--color-1);
                            }
                            
                            &:not(:last-child) {
                                margin-bottom: 16px;
                                padding-bottom: 16px;
                                border-bottom: 2px solid rgba(255, 255, 255, .1);
                            }
                        }
                    }
                }
            }
        }

        .button {
            padding: 12px 30px;
            font-size: 17px;
            font-weight: 500;
            color: var(--color-3) !important;
            background-color: var(--color-2);
        }

        .locale {
            cursor: pointer;
            margin-left: 40px;
            display: block;
            width: 30px;
            height: 20px;
            border-radius: 3px;
            overflow: hidden;
            object-fit: cover;
        }

        .burger-menu {
            display: none;
            height: 30px;
            margin-left: 40px;
            cursor: pointer;

            @media (max-width: 768px) {
                display: block;
            }
        }
    }
}